{% load compress %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block embeds %}
    {% endblock embeds %}
    <title>{% block title %}{% endblock title %}</title>
    {% compress css %}
    <link rel="stylesheet" type="text/x-scss" href="{% static '/styles/styles.scss' %}">
    {% endcompress %}
</head>
<body>
    <header>{% block header %}{% endblock header %}</header>
    <main>{% block content %}{% endblock content %}</main>
</body>
</html>