{% extends 'base.html' %}

{% block title %}Hello{% endblock title %}

{% block header %}
<h1>Lucas Lorenz</h1>
{% endblock header %}

{% block content %}
<p class="text--secondary">Senior at <a href="https://www.usf.edu/" target="_blank" class="text--green"><b>USF</b></a> studying Information Science | Aspiring web developer</p>
<p class="text--center">Hey there. I'm Lucas (Luke), an aspiring web developer working mostly with <span class="text--clip-background text--python"><b>python</b></span> and <span class="text--clip-background text--javascript"><b>javascript</b></span></p>
{% endblock content %}