{% extends 'base.html' %}

{% block embeds %}
<meta property="og:title" content="Lucas Lorenz | Project | {{ project.name }}">
<meta property="og:image" content="{{ project.icon }}">
{% endblock embeds %}

{% block title %}Lucas Lorenz | {{ project.name }}{% endblock title %}

{% block header %}
<h1>{{ project.name }}<img src="{{ project.icon }}"></h1>
{% endblock header %}

{% block content %}
<p class="text--secondary text--center">Started {{ project.start_date }}{% if project.stop_date %} | Stopped {{ project.stop_date }}{% endif %}</p>
{% include project.description_template %}
<p class="text--secondary" hx-disinherit="hx-boost"><a target="_blank" href="{{ project.url }}">Visit {{ project.name }}</a>{% if project.github_url %} | <a target="_blank" href="{{ project.github_url }}">View on GitHub</a>{% endif %}</p>
{% if project.libraries_frameworks.exists %}
<p><b>Frameworks/Libraries used in this project</b></p>
<div class="icons">
    {% for library_framework in project.libraries_frameworks.all %}
    {% include 'partials/item-icon.html' with item=library_framework %} 
    {% endfor %}
</div>
{% endif %}
{% endblock content %}