{% extends 'base.html' %}

{% block title %}Hello{% endblock title %}

{% block header %}
<h1>{{ library_framework.name }}</h1>
{% endblock header %}

{% block content %}
<p class="text--secondary">{{ library_framework.experience }} years of experience</p>
{% include library_framework.description_template %}
<p><b>Language</b></p>
<a class="icon" href="google.com">
    <img src="{{ library_framework.language.icon }}">
</a>
<p><b>Used in these projects</b></p>
<div class="icons">
    {% for project in library_framework.projects.all %}
    <a class="icon" href="{{ project.get_absolute_url }}">
        <img src="{{ project.icon }}">
    </a>
    {% endfor %}
</div>
{% endblock content %}