{% extends 'base.html' %}

{% block embeds %}
<meta property="og:title" content="Lucas Lorenz | Library/Framework | {{ library_framework.name }}">
<meta property="og:image" content="{{ library_framework.icon }}">
{% endblock embeds %}

{% block title %}Lucas Lorenz | {{ library_framework.name }}{% endblock title %}

{% block header %}
<h1>{{ library_framework.name }}<img src="{{ library_framework.icon }}"></h1>
{% endblock header %}

{% block content %}
<p class="text--secondary text--center">Began learning on {{ library_framework.began_learning }} ({{ library_framework.years_of_experience }} years){% if library_framework.is_learning %} | Currently learning{% endif %}</p>
{% include library_framework.description_template %}
<p><b>Languages</b></p>
<div class="icons">
    {% for language in library_framework.languages.all %}
    {% include 'partials/item-icon.html' with item=language %}
    {% endfor %}
</div>
{% if library_framework.projects.exists %}
<p><b>Used in these projects</b></p>
<div class="icons">
    {% for project in library_framework.projects.all %}
    {% include 'partials/item-icon.html' with item=project %}
    {% endfor %}
</div>
{% endif %}
{% endblock content %}