.home-hero {
    display: flex;
    flex-flow: row wrap;
    padding-block: 4rem;

    & > div {
        min-width: 340px;
    }
    
    .hero-content {
        flex: 2;
    }

    .hero-spacer {
        flex: 1;
    }
}