.skills {
    display: flex;
    flex-direction: row wrap;
    margin-block: 1rem;
    gap: 1rem;
    justify-content: center;

    .skill {
        width: var(--font-size-xxl);
        height: var(--font-size-xxl);
        transition: scale 250ms;

        h2 {
            text-align: center;
        }

        svg, img {
            transition: fill 250ms, filter 250ms, scale 250ms;
            filter: grayscale(75%);
            width: var(--font-size-xxl);
            height: var(--font-size-xxl);

            &:hover {
                filter: grayscale(0%);
                scale: 1.1;
            }
        }

    }

    &--skills .skill svg, img {
        fill: var(--color-text-light);
    }
}