{% extends 'base.html' %}
{% load static %}

{% block title %}
Home
{% endblock title %}

{% block content %}
<header class="hero home-hero" id="hero">
    <div class="hero-content">
        <h1>Hello There</h1>
        <p>I'm <b>Lucas Lorenz</b>, a web developer with a focus primarily on Python and Javascript.</p>
        <div class="buttons">
            {% for social in website_socials %}
            <a class="button" href="{{ social.link }}">
                {{ social.svg|safe }}
                <span>{{ social.name }}</span>
            </a>
            {% endfor %}
            <a class="button" href="/static/resume.pdf" download>
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960"><path d="M240-80q-50 0-85-35t-35-85v-120h120v-560h600v680q0 50-35 85t-85 35H240Zm480-80q17 0 28.5-11.5T760-200v-600H320v480h360v120q0 17 11.5 28.5T720-160ZM360-600v-80h360v80H360Zm0 120v-80h360v80H360ZM240-160h360v-80H200v40q0 17 11.5 28.5T240-160Zm0 0h-40 400-360Z"/></svg>
                <span>Resume</span>
            </a>
        </div>
    </div>
    <div class="hero-spacer"></div>
</header>
<hr>
<section class="section--cols-2" id="about-me">
    <div>
        <h2>About Me</h2>
        <p>I was born and raised in South Florida before attending the <a href="https://www.usf.edu/">University of South Florida</a>, where I studied Information Science with a focus on web development. During college, I spent much of my free time diving deep into Python, which led me to become proficient in Django. Along the way, I developed a strong foundation in core web technologies like HTML, CSS, and JavaScript. Nearly three years later, I’ve built several full featured web apps with active users and frequent requests, and I now feel ready to enter the job market. Outside of tech, I enjoy cooking, playing a variety of instruments, and exploring new technologies.</p>
    </div>
    <div>
        <img src="/static/sfl.jpg" alt="An image of South Florida">
    </div>
</section>
<hr>
<section class="home-skills" id="skills">
    <div class="home-skills-row">
        <div>
            <h2>Languages</h2>
            <div class="skills">
                {% for language in languages %}
                {% include 'partials/skill.html' with skill=language %}
                {% endfor %}
            </div>
        </div>
        <div>
            <h2>Technologies</h2>
            <div class="skills">
                {% for technology in technologies %}
                {% include 'partials/skill.html' with skill=technology %}
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="home-skills-row">
        <div>
            <h2>Tools</h2>
            <div class="skills">
                {% for tool in tools %}
                {% include 'partials/skill.html' with skill=tool %}
                {% endfor %}
            </div>
        </div>
        <div>
            <h2>Skills</h2>
            <div class="skills skills--skills">
                {% for skill in skills %}
                {% include 'partials/skill.html' %}
                {% endfor %}
            </div>
        </div>
    </div>
</section>
<hr>
<section class="home-projects" id="projects">
    <h2>Projects</h2>
    <p>Below you will find projects that I'm happy with the production and quality of code. Some of these are available to view live and on Github. If you want to view some of my other public projects feel free to view my <a href="https://github.com/LucLor06">Github</a>.</p>
    <div class="cards">
        {% for project in projects %}
        {% include 'partials/project-card.html' %}
        {% endfor %}
    </div>
</section>
{% endblock content %}