{% extends 'base.html' %}
{% load static %}

{% block title %}
Home
{% endblock title %}

{% block content %}
<header class="hero home-hero" id="hero">
    <div class="hero-content">
        <h1>Hello There</h1>
        <p>I'm <b>Lucas Lorenz</b>, a web developer with a focus primarily on Python and Javascript.</p>
    </div>
    <div class="hero-spacer"></div>
</header>
<hr>
<section class="section--cols-2" id="about-me">
    <div>
        <h2>About Me</h2>
        <p>{% lorem 1 %}</p>
    </div>
    <div>
        <img src="img" alt="An image of something interesting">
    </div>
</section>
<hr>
<section class="home-skills">
    <div class="home-skills-row">
        <div>
            <h2>Languages</h2>
            <div class="skills">
                {% for language in languages %}
                {% include 'partials/skill.html' with skill=language %}
                {% endfor %}
            </div>
        </div>
        <div>
            <h2>Technologies</h2>
            <div class="skills">
                {% for technology in technologies %}
                {% include 'partials/skill.html' with skill=technology %}
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="home-skills-row">
        <div>
            <h2>Tools</h2>
            <div class="skills">
                {% for tool in tools %}
                {% include 'partials/skill-item.html' with skill=tool %}
                {% endfor %}
            </div>
        </div>
        <div>
            <h2>Skills</h2>
            <div class="skills">
                {% for skill in skills %}
                {% include 'partials/skill-item.html' %}
                {% endfor %}
            </div>
        </div>
    </div>
</section>
<hr>
<section>
    <h2>Projects</h2>
    <div class="cards">
        {% for project in projects %}
        {% include 'partials/project-card.html' %}
        {% endfor %}
    </div>
</section>
{% endblock content %}